<template>
  <div class="contact">
    <h1>{{ contact(parseInt($route.params.id)).name }}</h1>
    <button
      @click="undo"
      class="undo"
      :disabled="changes.length === 0 ? true : false"
    >
      Click to undo recent changes
    </button>
    <div class="fields">
      <field
        v-for="(val, key) in contact(parseInt($route.params.id))"
        :key="key"
        :id="parseInt($route.params.id)"
        :field="key"
        :value="val"
        @recordChange="changeMade($event)"
      />
      <div class="add">
        <div>
          <input
            type="text"
            v-model="newKey"
            class="newKey"
            placeholder="New key"
          />
        </div>
        <div>
          <input
            type="text"
            v-model="newVal"
            class="newVal"
            placeholder="New Value"
          />
        </div>
        <div>
          <button @click="addNewFields">Add new field</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/****************
 *
 * Страница, отображающая все поля контактов. Пристутствует возможность
 * добавлять новые поля. За отображение поля отвечает компонент field.
 * Вся логика взаимодействия с данными перенесена во vuex.
 * После загрузки страницы все внесенные изменения записываются в массив
 * changes, что позволяет делать отмену последнего шага. (Альтернативный
 * способ - подпсаться на мутации)
 *
 ****************/
import { mapGetters, mapActions } from 'vuex'
import field from '@/components/field.vue'

export default {
  name: 'Contact',
  components: {
    field,
  },
  data() {
    return {
      newKey: '',
      newVal: '',
      changes: [],
    }
  },
  computed: {
    ...mapGetters({
      contact: 'contacts/contact',
    }),
  },
  methods: {
    ...mapActions({
      addField: 'contacts/addField',
      deleteField: 'contacts/deleteField',
      changeField: 'contacts/changeField',
    }),
    addNewFields() {
      if (!this.newKey) return
      this.addField({
        id: parseInt(this.$route.params.id),
        key: this.newKey,
        value: this.newVal,
      })

      this.changeMade({
        type: 'add',
        field: this.newKey,
        value: this.newVal,
      })

      this.newKey = ''
      this.newVal = ''
    },
    changeMade(description) {
      this.changes.push(description)
    },
    undo() {
      switch (this.changes[this.changes.length - 1].type) {
        case 'add':
          this.deleteField({
            id: parseInt(this.$route.params.id),
            key: this.changes[this.changes.length - 1].field,
          })
          break
        case 'delete':
          this.addField({
            id: parseInt(this.$route.params.id),
            key: this.changes[this.changes.length - 1].field,
            value: this.changes[this.changes.length - 1].value,
          })
          break
        case 'change':
          this.changeField({
            id: parseInt(this.$route.params.id),
            oldKey: this.changes[this.changes.length - 1].field,
            key: this.changes[this.changes.length - 1].oldField,
            value: this.changes[this.changes.length - 1].oldValue,
          })
          break
      }
      this.changes.pop()
    },
  },
}
</script>

<style scoped>
.contact {
  margin: 0 auto;
  max-width: 800px;
}
.fields {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 2rem;
  margin: 1rem auto;
}
h1 {
  text-align: center;
  color: rgb(41, 27, 165);
  font-size: 3rem;
}
.undo {
  border: none;
  outline: none;
  background-color: #fff;
  color: rgb(27, 12, 94);
  cursor: pointer;
  font-weight: bold;
}
.undo:disabled {
  color: rgb(124, 126, 133);
}
.add {
  border: solid 1px #ccc;
  border-radius: 50px;
  padding: 1rem 1rem 0.3rem 1rem;
  text-align: center;
  box-shadow: 0px 5px 8px 0px rgb(185, 162, 228);
  margin-bottom: 5px;
}

.newKey,
.newVal {
  border: none;
  border-bottom: 0.5px solid purple;
  outline: none;
  text-align: center;
  max-width: 200px;
}
.newKey {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.newVal {
  margin-bottom: 10px;
}
.add button {
  color: #ccc;
  border: none;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}
.add button:hover {
  color: purple;
}
@media screen and (max-width: 600px) {
  .fields {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 400px) {
  .fields {
    grid-template-columns: auto;
  }
}
</style>
