<template>
  <div class="home">
    <h1>Contact book</h1>

    <div class="gridContainer">
      <contactInfo
        v-for="contact in allContacts"
        :key="contact.id"
        :contactId="contact.id"
        :contactName="contact.name"
      />
    </div>

    <button @click="showAddNewContact = true" class="newContact">
      +
    </button>
    <addNewContact
      v-if="showAddNewContact"
      @close="showAddNewContact = false"
    />
  </div>
</template>

<script>
/****************************
 * В данном компоненте задействованы компоненты contactInfo, отвечающий за
 * отображение карточки контакта, и addNewContact, отвечающий за добавление
 * нового контакта.
 *
 * Данные о контаках получаются из хранилища с помощью геттера allContacts
 * из модуля contacts, для этого используется mapGetter Helper
 *
 *  **********************/

import contactInfo from '@/components/contactInfo.vue'
import addNewContact from '@/components/addNewContact.vue'

import { mapGetters } from 'vuex'

export default {
  name: 'Home',
  data() {
    return {
      showAddNewContact: false,
    }
  },
  components: {
    contactInfo,
    addNewContact,
  },
  computed: {
    ...mapGetters({
      allContacts: 'contacts/allContacts',
    }),
  },
}
</script>

<style scoped>
.home {
  margin: 0 auto;
  max-width: 800px;
}
h1 {
  text-align: center;
  color: rgb(41, 27, 165);
  font-size: 3rem;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 2rem;
  margin: 1rem auto;
}
.newContact {
  font-size: 4rem;
  margin-top: 2rem;
  width: 100%;
  background-color: white;
  font-weight: bold;
  color: rgb(87, 0, 187);
  border: none;
  outline: none;
  transition: color 1s;
  cursor: pointer;
}
.newContact:hover {
  color: rgb(152, 80, 235);
  transition: color 1s;
}

@media screen and (max-width: 600px) {
  .gridContainer {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 400px) {
  .gridContainer {
    grid-template-columns: auto;
  }
}
</style>
