<template>
  <div class="addNewContact">
    <div class="form">
      <div class="header">
        <div>Add new contact</div>
        <div @click="$emit('close')" class="close">✖</div>
      </div>
      <form @submit.prevent="addNewContact">
        <div class="field" v-for="(val, key) in contact" :key="key">
          <div>{{ key }}</div>
          <input
            type="text"
            :name="key"
            :id="key"
            v-model="contact[key]"
            :required="key === 'name' ? true : false"
          />
          <div @click="deleteField(key)" class="deleteField">✖</div>
        </div>

        <div class="addNewField">
          <div @click="addNewField">New field</div>
          <input type="text" v-model="newField" />
        </div>
        <button type="submit" class="submit">Create</button>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data() {
    return {
      contact: {
        name: null,
      },
      newField: '',
    }
  },
  methods: {
    ...mapActions(['contacts/createContact']),
    addNewField() {
      if (this.newField) {
        this.contact[this.newField] = ''
        this.newField = ''
        this.totalFields += 1
      }
    },
    deleteField(field) {
      if (field !== 'name') this.$delete(this.contact, field)
    },
    addNewContact() {
      if (this.contact.name) this['contacts/createContact'](this.contact)
      this.$emit('close')
    },
  },
}
</script>

<style scoped>
.addNewContact {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.356);
  width: 100%;
  height: 100%;
}
.form {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 2rem;
  padding-bottom: 3px;
  border-radius: 50px;
  width: 70%;
}
.header {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
}
.close {
  font-size: 1.3rem;
  cursor: pointer;
}
.field {
  display: flex;
  justify-content: space-between;
  margin: 5px auto;
  padding: 10px;
  width: calc(100% - 24px);
  font-size: 1.2rem;
}
.field:nth-child(1) {
  color: purple;
}
.deleteField {
  cursor: pointer;
}
.field > input {
  border: none;
  border-bottom: 1px solid purple;
  outline: none;
  width: 70%;
}

.addNewField {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* text-align: center; */
}
.addNewField > div {
  cursor: pointer;
  background-color: purple;
  border-radius: 10px;
  margin: 0 5px;
  color: white;
  padding: 8px;
}
.addNewField > input {
  outline: none;
  border: none;
  border-bottom: 0.5px solid purple;
}
.submit {
  border: none;
  border-top: 3px solid purple;
  outline: none;
  width: 100%;
  background-color: white;
  text-align: center;
  margin: 2rem auto 0 auto;
  color: purple;
  font-size: 1.5rem;
  cursor: pointer;
}
.submit:hover {
  color: rgb(44, 17, 192);
  border-top: 3px solid rgb(44, 17, 192);
}
</style>
