<template>
  <div class="confirmation">
    <div class="modal">
      <div class="question">
        {{ message }}
        Continue?
      </div>
      <div class="answers">
        <div class="no" @click="$emit('answer', false)">No</div>
        <div class="yes" @click="$emit('answer', true)">Yes</div>
      </div>
    </div>
  </div>
</template>

<script>
/*************
 *
 * Этот компонент отвечает за подтверждение действий пользователя.
 * От родителя получает message, эмитит в родительском компоненте событие
 * с полученным ответом.
 *
 ***********/
export default {
  props: ['message'],
}
</script>

<style scoped>
.confirmation {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(19, 19, 19, 0.438);
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  text-align: center;
}
.modal {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 50px;
}
.answers {
  margin-top: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
}
.answers div:hover {
  color: rgb(152, 80, 235);
}
</style>
