<template>
  <div class="contactInfo">
    <confirmation
      :message="'Contact ' + contactName + ' will be removed. '"
      v-if="showConfirmation"
      @answer="
        confirmationPassed = $event
        showConfirmation = false
      "
    />
    <div class="name">
      <router-link :to="{ name: 'Contact', params: { id: contactId } }">
        {{ contactName }}
      </router-link>
    </div>
    <div class="delete" @click="showConfirmation = true">delete</div>
  </div>
</template>

<script>
/******************************
 *
 * Данный компонент отвечает за отображение карточки
 * контакта на главной странице. Для подтверждения удаления используется
 * компнонет confirmation. Удаление происходит путем вызова Action'а из
 * хранилища.
 *
 ****************************/
import { mapActions } from 'vuex'
import confirmation from '@/components/confirmation.vue'

export default {
  props: ['contactId', 'contactName'],
  components: {
    confirmation,
  },
  data() {
    return {
      showConfirmation: false,
      confirmationPassed: false,
    }
  },
  watch: {
    confirmationPassed(val) {
      if (val) {
        this['contacts/deleteContact']({ id: this.contactId })
      }
    },
  },
  methods: {
    ...mapActions(['contacts/deleteContact']),
  },
}
</script>

<style scoped>
.contactInfo {
  border: solid 1px #ccc;
  border-radius: 50px;
  padding: 1rem 1rem 0.3rem 1rem;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: 0px 5px 8px 0px rgb(185, 162, 228);
  margin-bottom: 5px;
  transition: margin 0.5s, box-shadow 0.5s;
}
.contactInfo:hover {
  box-shadow: none;
  margin-top: 5px;
  margin-bottom: 0;
  transition: margin 0.5s, box-shadow 0.5s;
}
.delete {
  color: #ccc;
  font-size: 1rem;
  margin: 0.5rem 0 0 0;
  cursor: pointer;
}
</style>
