<template>
  <div class="editField">
    <div class="modal">
      <div class="fields">
        <input type="text" v-model="fieldInput" />
        <input type="text" v-model="valueInput" />
      </div>
      <div class="buttons">
        <button @click="save">Save</button>
        <button
          @click="
            if (field !== fieldInput || value !== valueInput) {
              showConfirmation = true
            } else {
              $emit('close')
            }
          "
        >
          Go back
        </button>
      </div>
    </div>

    <confirmation
      :message="'Your changes will be discarded. '"
      v-if="showConfirmation"
      @answer="
        showConfirmation = false
        $event === true ? $emit('close') : {}
      "
    />
  </div>
</template>

<script>
/*************
 *
 * Компонент отвечает за редактирование полей контакта. Изменения
 * состояния происходит за счет вызова экшна changeField. В случае
 * если были внесены изменения, перед заврытием всплывает окно confirmation,
 * предупреждающее пользователя о том, что внесенные им изменения будут потеряны
 *
 ************/
import { mapActions } from 'vuex'
import confirmation from '@/components/confirmation.vue'

export default {
  components: {
    confirmation,
  },
  props: ['field', 'value', 'id'],
  data() {
    return {
      fieldInput: this.field,
      valueInput: this.value,

      showConfirmation: false,
    }
  },
  methods: {
    ...mapActions({
      changeField: 'contacts/changeField',
    }),
    save() {
      this.$emit('recordChange', {
        type: 'change',
        oldField: this.field,
        field: this.fieldInput,
        oldValue: this.value,
        value: this.valueInput,
      })
      this.changeField({
        id: this.id,
        oldKey: this.field,
        key: this.fieldInput,
        value: this.valueInput,
      })

      this.$emit('close')
    },
  },
}
</script>

<style scoped>
.editField {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.342);
}
.modal {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 50px;
}
.fields input {
  border: none;
  outline: none;
  border-bottom: 1px solid purple;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.buttons button {
  border: none;
  outline: none;
  background-color: white;
  color: rebeccapurple;
  font-size: 1.1rem;
  cursor: pointer;
}
.buttons button:hover {
  color: rgb(0, 17, 255);
}
</style>
