<template>
  <div class="field" v-if="field !== 'id'">
    <div class="key">
      {{ field }}
    </div>
    <div class="value">
      {{ value }}
    </div>
    <div class="buttons">
      <button @click="showEditField = true">Edit</button>
      <button
        @click="showDeleteConformation = true"
        :disabled="field === 'name' ? true : false"
      >
        Delete
      </button>

      <confirmation
        :message="'This field will be deleted. '"
        v-if="showDeleteConformation"
        @answer="
          showDeleteConformation = false
          removeField = $event
        "
      />

      <editField
        :field="field"
        :value="value"
        :id="id"
        v-if="showEditField"
        @close="showEditField = false"
        @recordChange="$emit('recordChange', $event)"
      />
    </div>
  </div>
</template>

<script>
import editField from '@/components/editField.vue'
import confirmation from '@/components/confirmation.vue'
import { mapActions } from 'vuex'

export default {
  components: {
    confirmation,
    editField,
  },
  props: ['field', 'value', 'id'],
  data() {
    return {
      removeField: false,
      showDeleteConformation: false,

      showEditField: false,
    }
  },
  methods: {
    ...mapActions({
      deleteField: 'contacts/deleteField',
    }),
  },
  watch: {
    removeField(val) {
      if (val) {
        this.$emit('recordChange', {
          type: 'delete',
          field: this.field,
          value: this.value,
        })
        this.deleteField({ id: this.id, key: this.field })
      }
    },
  },
}
</script>

<style scoped>
.field {
  border: solid 1px #ccc;
  border-radius: 50px;
  padding: 1rem 1rem 0.3rem 1rem;
  text-align: center;
  box-shadow: 0px 5px 8px 0px rgb(185, 162, 228);
  margin-bottom: 5px;
}
.key {
  color: purple;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.value {
  margin-bottom: 10px;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
}
button {
  color: #ccc;
  border: none;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}
button:hover {
  color: purple;
}
button:disabled {
  color: #ccc;
}
</style>
